name: tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7, 3.8, 3.9]
        numpy-version: [1.17.5, 1.18.5, 1.19.5, 1.20.3, 1.21.2]

    steps:
    - uses: actions/checkout@v1
    - name: Set up ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependences
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest
        python -m pip install numpy==${{ matrix.numpy-version }}
    - name: Install wavio
      run: |
        python -m pip install .
    - name: Test with pytest
      run: |
        python -m pytest
