name: tests

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        numpy-version: ["1.19.5", "1.20.3", "1.21.6", "1.22.4", "1.23.5", "1.24.1"]
        exclude:
        - python-version: "3.7"
          numpy-version: "1.22.4"
        - python-version: "3.7"
          numpy-version: "1.23.5"
        - python-version: "3.7"
          numpy-version: "1.24.1"
        - python-version: "3.10"
          numpy-version: "1.19.5"
        - python-version: "3.10"
          numpy-version: "1.20.3"
        - python-version: "3.11"
          numpy-version: "1.19.5"
        - python-version: "3.11"
          numpy-version: "1.20.3"
        - python-version: "3.11"
          numpy-version: "1.21.6"
        - python-version: "3.11"
          numpy-version: "1.22.4"

    steps:
    - uses: actions/checkout@v3
    - name: Set up ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependences
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest
        python -m pip install numpy==${{ matrix.numpy-version }}
    - name: Install wavio
      run: |
        python -m pip install .
    - name: Test with pytest
      run: |
        python -m pytest
